<header class="site-header_wrap">
    <div class="site-header">
        <div class="site-header-left">
            <a href="{{ site.baseurl }}/">
                <div class="site-header-left-avi" style="background-image: url('{{ '/img/asset/avi.png' | prepend: site.baseurl }}');"></div>
            </a>
        </div>
        <div class="site-header-right">
            <div class="site-header-right-soc">
                <a href="{{ site.baseurl }}/">
                    🏡
                </a>
                <div class="site-header-right-soc-name"><p>hme</p></div>
            </div>
            <div class="site-header-right-soc">
                <a href="http://lab.timblin.co/" target="_blank">
                    📺
                </a>
                <div class="site-header-right-soc-name"><p>labs</p></div>
            </div>
            <div class="site-header-right-soc">
                <a href="{{ site.baseurl }}/snippets">
                    ✂️
                </a>
                <div class="site-header-right-soc-name"><p>snpts</p></div>
            </div>
        </div>
    </div>
</header>
