<div class="lab">
	<div class="main-carousel">
			  <div class="carousel-cell">
			  	<div class="carousel-cell-item item1"></div>
			  </div>
			  <div class="carousel-cell">
			  	<div class="carousel-cell-item item2"></div>
			  </div>
			  <div class="carousel-cell">
			  	<div class="carousel-cell-item item3"></div>
			  </div>
			  <div class="carousel-cell">
			  	<div class="carousel-cell-item item4"></div>
			  </div>
			</div>
	<div class="lab-browser">
		<div class="lab-browser-top">
			<div class="lab-browser-top-ctrl">
				<div class="lab-browser-top-ctrl-item"></div>
				<div class="lab-browser-top-ctrl-item"></div>
				<div class="lab-browser-top-ctrl-item"></div>
			</div>
			<div class="lab-browser-top-url">lab.timblin.co/</div>
		</div>
		<div class="lab-browser-prog"></div>
		<div class="lab-browser-window">
			
		</div>
	</div>
</div>