<!-- Document resources -->

{% if page.url == "/" %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js"></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if page.url == "/snippets/" %}
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<script src="{{ "/js/snippet-list.js" | prepend: site.baseurl }}"></script>
{% endif %}


{% if page.layout == 'post' %}
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<script src="{{ "/js/snippet.js" | prepend: site.baseurl }}"></script>
{% endif %}