<div class="section section-labs">
    <div class="section-item section-desc">
        <h6>labs.timblin.co/</h6>
        <h3>Interaction Labs</h3>
        <p>Click through my collection of various front end experiments. Many of these are unique interactions never implemented in a commercial product.</p>
        <a href="http://lab.timblin.co/profile-page/" target="_blank" class="section-btn">Enter Labs</a>
    </div>
    <div class="section-item section-field">
        {% include lab-preview.html %}
    </div>
</div>