<div class="section-connect_wrap">
    <div class="section section-connect">
        <div class="section-item section-desc">
            <h6>@TristanTimblin</h6>
            <h3>Connect</h3>
            <p>Interested in working with me, or just wanna talk web, please feel free to reach out & connect.</p>
            <a class="section-btn" href="mailto:tatimblin@gmail.com?Subject=Hello%20Tristan!">Email Me</a>
        </div>
        <div class="section-item section-social">
            <div class="section-social-post">
                <a href="https://twitter.com/TristanTimblin" target="_blank">
                    {% include svg/icon-twitter.html %}
                </a>
            </div>
            <div class="section-social-post">
                <a href="https://codepen.io/tatimblin/" target="_blank">
                    {% include svg/icon-codepen.html %}
                </a>
            </div>
            <div class="section-social-post">
                <a href="http://vsco.co/tristimb/images/1" target="_blank">
                    {% include svg/icon-vsco.html %}
                </a>
            </div>
            <div class="section-social-post">
                <a href="https://github.com/tatimblin" target="_blank">
                    {% include svg/icon-github.html %}
                </a>
            </div>
            <div class="section-social-post">
                <a href="https://dribbble.com/Timblin" target="_blank">
                    {% include svg/icon-dribbble.html %}
                </a>
            </div>
            <div class="section-social-post">
                <a href="mailto:tatimblin@gmail.com?Subject=Hello%20Tristan!">
                    {% include svg/icon-email.html %}
                </a>
            </div>
        </div>
    </div>
</div>