<div class="intro-wrap">
    <div class="intro">
        <div class="intro-content">
            <h1 id="my-name">Tristan Timblin</h1>
            <h6>Frontend Developer &amp Interaction Designer</h6>
        </div>
        <div class="intro-content">
            
        </div>
    </div>
</div>


<div class="project">
	<div class="project-img">
		<div class="project-img-cell">
		  
		</div>
		<div class="project-img-cell">
			
		</div>
		<div class="project-img-cell">
			
		</div>
	</div>
	<div class="project-nav">
		<div class="project-nav-cell">
		    <div class="project-nav-cell-title"> 
			    <h2>music visualization</h2>
			</div>
			<p>Give concert goers a quick preview of upcoming acts, with an svg visualizer.</p>
			<p><a href="http://meetlolla.com/" target="_blank">View Site</a></p>
		</div>
		<div class="project-nav-cell">
		    <div class="project-nav-cell-title"> 
			    <h2>branding a city</h2>
			    <p>Help promote the growing city of Alexandria, VA as an ideal location for new businesses.</p>
			    <p><a href="https://growalx.com/" target="_blank">View Site</a></p>
			</div>
		</div>
		<div class="project-nav-cell">
            <div class="project-nav-cell-title">            <h2>launching a complex</h2>
            </div>
			<p>Establishing a brand style for a new development under construction.</p>
			<p><a href="http://335bala.com/" target="_blank">View Site</a></p>
		</div>
	</div>
</div>